/*------------------------------------------------------------------------------
Styles pour le footer
----------------------------------------------------------------------------- */
.site-footer{
    background-color: $color__clip;
    color: $color__link__jeu;
    display: block;
    display: flex;
    flex-direction: column;

    text-align: center;
    font-size: clamp(1rem, #{"-0.875rem + 4.333vw"}, 1.2rem);
    @include media-tablette{
        text-align: left;
    }
    p{
        font-size: clamp(.7rem, #{"-0.875rem + 8.333vw"}, 1rem);
    }
    h2{
        margin-top: 50px;
        @include media-tablette{
            margin-top: 24px;
        }
    }
    .ligne-footer{
        display: block;
        @include media-tablette{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }

    .site-info{
        @include media-tablette{
            padding: 0 3%;
        }
    }

    select{
        text-align: center;
        color: $color__bouton;
        background-color: $color__background-bouton;
        cursor: pointer;
    }
}