/*------------------------------------------------------------------------------
Styles pour le formulaire
----------------------------------------------------------------------------- */
.admin-rapide{
    //width: 70%;
    margin: 2% 4% 2% 3%;
}

/*------------------------------------------------------------------------------
Les propriétés des nouvelles et des annonces
------------------------------------------------------------------------------*/
.home .nouvelles{
    display: flex;
    flex-direction: column;
    margin: 2% 4% 2% 2%;
    
    .nouvelleIndividuelle{
        background-color: olive;
        /*
        h2:nth-child(odd), div:nth-child(odd){
            background-color: olive;
        }

        p{
            @include media-tablette{
                padding-left: 3rem;
            }
        }*/
    }
}

.home #annonce{
    background-color: $color__background-article;
    min-height: 160px;
    height: auto;
    padding: 25px 10px 10px 10px;
    border-bottom: ridge 2px $color__border-article;
}