.galerie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
      
    .flip-card {
        background-color: transparent;
        width: 150px;
        height: 150px;
        perspective: 1000px;
        margin: 2%;
    }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        background-color: #bbb;
        color: black;
      }
      
      .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
      }

    /*display: flex;
    //display: grid;
    //gap: 5px;
    //grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    flex-wrap: wrap;
    //justify-content: center;
    a{
        display: block;        
    }
    img{
        display: block;
        width: 150px;
        transition: all linear 1s;
        &:hover{
            -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
            opacity : 0;
        }
    }
    article{
        transition: all linear 1s;
        width: 150px;
        margin: 5px;
        position: relative;
        display: flex;
        //align-items: center;
        //text-align: center;
        &:hover{
            transform: scale(1.2);
            
        }
        
        a{
            width: 150px;
            height: auto;
        }
        p{
            margin: 0px;
            text-align: center;
        }
        .galerie_info{
            
        }

        .description{
            position: absolute;
            //display: block;
            top: 0;
            left: 0;
        }
    }
}

.centre{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    */
}