
/*------------------------------------------------------------------------------
Les propriétés du header
------------------------------------------------------------------------------*/
.site-title {
    font-family: $font__title;
    font-size: clamp(.8rem, #{"-0.875rem + 5.633vw"}, 2.5rem);
    font-weight: bold;
    text-decoration: none;
    color: #003;
    margin-bottom: 0;
    a{
        text-decoration: none;
    }
}

.site-description{
    font-family: $font__title;
    font-size: clamp(1rem, #{"-0.875rem + 5.633vw"}, 2rem);
    font-weight: normal;
    color: #003;
    margin-top: 0;
}

.page-header, .entry-header{
    margin: 0;
    padding: 0;
    text-align: center;

    .page-title, .entry-title{
        font-size: clamp(1.8rem, #{"-0.875rem + 8.333vw"}, 4rem);
        color:rgb(42, 61, 165);
        margin-bottom: 0;
        
    }

    .archive-description{
        font-size: clamp(0.8rem, #{"-0.850rem + 4.333vw"}, 1.3rem);
        color:rgb(95, 109, 187);
        p{
            margin: 0 0 30px 0;
        }
    }
}



