/* Couleurs de base dans le wordpress*/
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #6b6b6b;
$color__link-visited: #6b6b6b;
$color__link-hover: #253c46;
$color__text-main: #6b6b6b;

$color__linkmenu: #6b6b6b;
$color__linkmenu-visited: #6b6b6b;
$color__linkmenu-hover: #ffffff;

/*Couleurs des titres */
$color__linktitle: #9c9c9c;
$color__linktitle-visited: #2f2f2f;
$color__linktitle-hover: #2e2e2e;
$color__h2: rgb(81, 93, 161);

/*Couleurs pour les boutons */
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__burger: rgb(111, 144, 216);

/* Couleurs pour les sections du carroussel */
$color__carroussel__web: #8db69e;
$color__carroussel__specifique: #c899a5;
$color__carroussel__jeu: #a3b1db;
$color__carroussel__imagerie: #dfdcb0;
$color__carroussel__conception: #ddb8df;

/* Couleurs pour les boutons du carroussel */
$color__bouton-carroussel-web: #4f86c5;
$color__bouton-carroussel-jeu: rgba(50, 207, 255, 0.685);

/* Couleurs pour les sections de la page d'accueil */
$color__link__web: #433e6b;
$color__background__web: rgba(50, 207, 255, 0.685);
$color__link__specifique: #2a2e55;
$color__link__jeu: #223777;
$color__link__imagerie: #172368;
$color__link__conception: #501752;

/* Couleurs de base dans la page d'accueil */
$color__background-body: rgb(221, 239, 255);
$color__clip:  rgba(181, 219, 255, 0.8);
$color__header:  rgba(223, 239, 255, 0.8);
$color__hover__nav:  rgba(189, 189, 189, 0.8);
$color__nav:  rgb(189, 189, 189);
$color__opacite__section : rgba(219, 219, 219, 0.5);

/* Couleurs de base pour les nouvelles et les articles */
$color__background-article: rgba(125, 192, 255, 0.8);
$color__border-article : #e8f4fc;
$color__background-nouvelles: rgba(181, 219, 255, 0.8);
$color__background-bouton: rgba(217, 237, 255, 0.8);
$color__bouton:rgba(133, 133, 133, 0.8);

/* Les couleurs pour la sidebar*/
$color__sidebar: rgba(200, 229, 255, 0.8);

